
body{
    background-color: #ffe6b3;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/6/61/Centrecollegeseal.png");
    background-repeat: no-repeat;
    background-position: right top;
    right: 90%;
    top: 10%;
    
    
}

.special#special1{
    background-color: aqua;
    font-family: cursive;
}
.day-box{
    padding: 10px;
    margin: 10px;

}
h1{
    position: relative;
    left: 45%;
    
}

div.day{
    padding: 5px;
    font-weight: bold;
    font-size: large;
}
    
.PREP{
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    border-bottom-color: rgb(0,0,200,.8);
}

.PREP .day{
    float: left;
    padding: 5px;
    clear: both;
}

.PREP .reading-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.PREP .reading-box:empty{
    display: none;
}

//.PREP .prep-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.PREP .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .lab-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.CURRENT{
    clear: both;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    height: 185px;
    border-bottom-color: rgb(0,0,200,.8);
}
  
.CURRENT .day{
    float: right;
    clear: both;
    padding: 5px;
}

.CURRENT .reading-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.CURRENT .reading-box:empty{
    display: none;
}

//.CURRENT .prep-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}
.CURRENT .prep-box:empty{
    display: none;
}

.CURRENT .lab-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}


.CURRENT .lab-box:empty{
    display: none;
}


.COMPLETED:nth-child(2n){
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    border-bottom-color: rgb(0,0,200,.8);
    overflow:auto;
}

.COMPLETED:nth-child(2n) .day{
    float: left;
    clear: both;
    padding: 5px;
}

.COMPLETED:nth-child(2n) .reading-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n) .reading-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .prep-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n) .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .lab-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.COMPLETED:nth-child(2n) .lab-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1){
    clear: both;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    height: 185px;
    border-bottom-color: rgb(0,0,200,.8);
    overflow: auto;
}

.COMPLETED:nth-child(2n+1) .day{
    float: right;
    clear: both;
    padding: 5px;
}

.COMPLETED:nth-child(2n+1) .reading-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n+1) .reading-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1) .prep-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n+1) .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1) .lab-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.COMPLETED:nth-child(2n+1) .lab-box:empty{
    display: none;
}






















.header .nav{  
    padding: 10px;
    border: 10px solid rebeccapurple;
    font-size: 24px;
    font-family: 'Monsterrat';

}
.header .person_info img{
    padding: 10px;
    width: 15%;
    height: 15%;
}
    


.header .person_info span.username{
    position: relative;
    top: -100px;
    left: 18%;
    font-size: 24px;
    padding: 10px;
    border: 7px solid rebeccapurple;
    font-family: 'Monsterrat';
} 

body table tbody img{
    border: 3px solid indianred;
    padding 2px;
    height: 15%;
    width: 15%;

}
table{
    border: 3px solid indianred;
    padding 2px;
}
.header .nav a:hover, .header .nav a:active {
font-size: 150%;
color: red;
}
.header .nav a{
 padding: 20px;
   
}
.header .partners .person_info a{
    border: 10px solid rebeccapurple;
    padding: 2px;
}
.header .partners .person_info a:hover, .header .partners .person_info a:active{
font-size: 150%;
    color: red;
    
}
